[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
"start" = "python app.py"
"start:autofill" = "python app.py --autofill"
"setup" = "brew install --cask google-chrome chromedriver"
"setup:update" = "brew upgrade --cask google-chrome chromedriver"

[packages]
selenium = "*"
anticaptchaofficial = "*"
requests = "*"
mako = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
